
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginResult</title>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @*@{ Final_Project.Models.AccountData method = ViewBag.method;
                <p>output:  @method.output()</p> <br />
            }*@
        @ViewBag.Message <br />        
        @Html.ActionLink("Back", "Login")
    </div>
</body>
</html>
