@model Final_Project_1.Models.Technology

@{
    Final_Project_1.Models.Technology tech = ViewBag.Tech;
}

<div class="description">
    <div class="des-info">Doors : @Html.DisplayFor(Model => Model.Doors)</div>
</div>
