
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewProducer</title>
</head>
<body>
    @Html.Partial("Menu")
    <div class="container">
        <div class="col-12">
            <div class="title">Producers</div>
        </div>
        <div class="col-2 producder-img">
            <img src="~/images/Toyota.jpg" />
        </div>
        <div class="col-2 producder-img">
            <img src="~/images/Honda.png" />
        </div>
        <div class="col-2 producder-img">
            <img src="~/images/Suzuki.jpg" />
        </div>
    </div>
    @Html.Partial("Footer")
</body>
</html>
